/* Reset some basic elements */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    /* Animated background */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    padding: 20px;
    text-align: center;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white for contrast */
    padding: 20px;
    border-radius: 8px;
    /* Ensures text and elements inside the container are visible against the animated background */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc; /* Adds a slight separation line for aesthetic purposes */
}

.github-link {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #555; /* Darker shade for hover effect */
}

.useful-links h2 {
    margin-top: 30px;
    color: #333;
}

.useful-links ul {
    list-style: none; /* Removes the default list bullets */
    padding: 0;
}

.useful-links li {
    margin-bottom: 10px; /* Adds some space between links */
}

.useful-links a {
    color: #0066CC;
    text-decoration: none; /* Removes the underline from links */
}

.useful-links a:hover {
    text-decoration: underline; /* Adds an underline on hover for better visibility */
}
